# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Specific Files
watch.json
app.json
util/*.json
*/database
data
modules
LICENSE
Procfile
app.json
package.json
README.md