# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Specific File Types
util/*.json
*/database
*.md

# Folders
data
modules

# Git Files
LICENSE
Procfile

# Json Files
watch.jso
app.json
package.json